.title {
  border: 2px solid black;
  text-align: center;
  background-color: lightblue;
  margin: 10px;
}

.app {
  height: 100vh;
  background: white;
}

.table {
  background-color: lightblue;
  margin: 10px;
  border: 2px solid black;
  width:30%;
  height: 800px;
  margin-bottom: 10px;
}